html {
    background-color: green;
}


#subheader {
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.emphasis {
        font-weight: 700;
}

#resources {
    color: red;
}

#david {
    color: #8B4513;
    background-color: #DDD;
}
